 body{
    background-image: url("../images/background.png");
 }
 
 h1 {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     padding: 20px;
     float: left;
     width: 15%;
     font-family: 'Times New Roman', Times, serif;
     font-size: 30px;
     background-color: #4aaaa5;
     color: white;
     z-index: 1;
    }

   

.buttons {
    position: relative;
    float: right;
    top: 0;
    margin:0;
    width: 8%;
    padding: 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: white;
    border: none; 
    z-index: 1;
}

.header-fill {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: white;
    float: left;
    width: 100%;
    font-size: 30px;
    padding: 20px;
    z-index: 0;
}


#about {
    position: relative;
    clear:both;
    top: 50px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: white;
    color: #4aaaa5;
}

#portfolio {
    clear:both;

}

#contact{
    clear:both;
}

.me {
    float:right;

    
}
.about-text{
    float: center;
    position: relative;
}